

%p
  %b Dry Run Completed:
  %span#dry_run_completed= @ride_uploaded_file.dry_run_completed ? "Dry Run Completed" : "Dry Run Not Completed"

- unless @ride_uploaded_file.dry_run_errors.nil?
  %h2= "#{pluralize(@dry_run_row_errors.count, "bad row")} prohibited this CSV from creating rides:"
  %ul
    - @dry_run_row_errors.each do |k, v|
      %li= "Row #{k}: #{v.join(", ")}"


%p#spinner{style: 'display:none'}
  SPINNER SPINNER SPINNER

:javascript

  var spinnerElement = $("#spinner");
  var statusElement = $("#dry_run_completed");

  function checkSpinner() {
    if (statusElement.text() != "true") {
      spinnerElement.show();
    }
    else {
      spinnerElement.hide();
    }
  }

  function conn() {  }
  function disconn() {  }
  function r(data) {

    if (data.dry_run == true) {
      statusElement.text('Dry Run Completed');
    }
    checkSpinner();
  }

  createRideUploadedFileStatusChannel(#{@ride_uploaded_file.id}, conn, disconn, r);
  checkSpinner();


